@media (max-width: 380px) {
	.intro {
		background-size: 125%;
	}

	.intro h1 {
		font-size: 38px;
	}

	.intro h1 span {
		font-size: 30px;
	}

	.intro__subtitle img,
	.intro__subtitle span {
		zoom: .9;
	}

	.intro__box strong {
		font-size: 20px;
	}
	.intro h2{
		font-size: 32px;
	}
	.intro__author{
		margin: 100px 0 0 0;
		backdrop-filter: blur(12px);
		background: linear-gradient(162.16deg, rgba(220, 232, 247, 0.1) 49.678%, rgba(255, 255, 255, 0.1) 87.422%);
	}

}